<!DOCTYPE html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>

    <form action="./add_article" method="post">
        <label for="nom">Nom : </label>
        <input type="text" name="nom" id="nom"><br>
        <label for="prix"> Prix : </label>
        <input type="text" name="prix" id="prix"><br>
        <input type="submit" value="Envoyer">
    </form>
</body>

</html>